# config.yaml

# Seed for reproducibility
seed_everything: 42

compile: true
compile_kwargs:
  fullgraph: true
  mode: "default"

# Trainer configuration
trainer:
  enable_model_summary: true
  num_sanity_val_steps: 0
  precision: "16-mixed"
  accelerator: auto
  devices: 1
  max_epochs: 30
  logger:
    class_path: lightning.pytorch.loggers.WandbLogger
    init_args:
      project: image-masker
      mode: online
  callbacks:
    - class_path: src.callbacks.ComprehensiveMaskingVisualizationCallback
      init_args:
        use_hard_masks: false
    - class_path: src.callbacks.ComprehensiveMaskingVisualizationCallback
      init_args:
        use_hard_masks: true
  check_val_every_n_epoch: 1
  log_every_n_steps: 10
  gradient_clip_val: .05

# Model configuration
model:
  class_path: src.lit_models.LitMaskingModel
  init_args:
    lr: 1.5e-4
    weight_decay: 0.05
    mean_reg: 2e-1
    entropy_reg: 1e-6
    patch_size: 2
    image_size: 32
    embed_dim: 192
    num_layers: 2
    num_heads: 4
    mae_checkpoint_path: weights/mae-cifar10.ckpt
    log_interval: 100
    use_gumbel_softmax: true
    tau_config:
      start_value: 1.0
      final_value: 0.5
      start_step: 0
      final_step: 2000
# Data module configuration
data:
  class_path: src.datasets.CIFAR10Data
  init_args:
    data_dir: /scratch/jhonnyv19/data/
    batch_size: 512 # batch size per device
    train_workers: 6
    val_workers: 2
